.test{
    font-size:60px;
}

.users{
    height: 89vh;
    background-color: #ccc;
    display: flex;
    justify-content: center;
   
    

    ul{
        width: 50%;
        margin-top: 100px;
        
        li{
            cursor: pointer;
            padding-top: 18px;
        }
    }

}